# --- Entorno y Secretos ---
.env
.venv/
.python-version
nginx.conf

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Herramientas (uv / IDEs) ---
.uv/
.vscode/
.idea/

# --- Sistema ---
.DS_Store