@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --color-bg-dark: #222;
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-accent: #10b981;
  --color-bg: #f8fafc;
  --color-card: #ffffff;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-error: #ef4444;
  --color-border: #e2e8f0;
  --color-bg-start: #c9d7d4;
  --color-bg-end: #d2deda;
}

:global(.dark) {
  --color-bg: #0f172a;
  --color-card: #1e293b;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
  --color-border: #334155;
  --color-primary: #60a5fa;
}

body {
  font-family: "Noto Sans", sans-serif;
}
